.bloc1{
    background-color: #2d7053;
    height: 235px;
    width: 750px;
}
.gor1{
    height: 141px;
    width: 141px;
    background-color: #ffffff;
    border-radius: 100px;
    margin: 47px 38px;
}
.gor2{
    height: 134px;
    width: 131px;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 22pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin: 20px 5px;
}
.gor3{
    height: 100px;
    width: 84px;
    margin: 0px 251px;
}
.gor4{
    height: 12px;
    width: 84px;
    background-color: #ffffff;
    border-radius: 100px;
}

.rum {
    position:absolute;
    z-index:99;
    margin: -4px 0px;
}
.prim {
    position:absolute;
    z-index:100;
    margin: -4px 9px;
    height: 444px;
    width: 741px;
}
.prim2 {
    position:absolute;
    z-index:100;
    margin: 345px 205px;
}
.box {
    position:relative;
}
.container {
    position: relative;
    z-index:100;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 17pt;
    background-color: #cb9223;
    color: #ffffff;
    margin: 345px 205px;
    height: 74px;
    width: 341px;
    border: none;
}
.rezume{
    background-color: #ffffff;
    height: 1050px;
    width: 750px;
    margin-top: 63px;
}
.fs{
    margin-top: 73px;
    margin-left: 44px;
    border-radius: 150px;
}
.names{
    height: 27px;
    width: 357px;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 26pt;
    color: rgba(0, 0, 0, 255);
    text-align: center;

}
.prof {
    height: 50px;
    width: 245px;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(0, 0, 0, 255);
    text-align: left;
    margin: 29px 73px;
}
.huis{
    height: 166px;
    width: 590px;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(0, 0, 0, 255);
    text-align: left;
    margin: 60px 46px;
}
.tem{
    height: 32px;
    width: 545px;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 25pt;
    color: rgba(0, 0, 0, 255);
    text-align: left;
    margin: 0px 46px;
}
.prich{
    height: 190px;
    width: 259px;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 18pt;
    color: rgba(0, 0, 0, 255);
    text-align: left;
    margin: 43px 46px;
}
.prim22 {
    position:absolute;
    z-index:100;
    margin: 0px 220px;
}
.box2 {
    margin-left: 218px;
}
.container2 {
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 17pt;
    background-color: #cb9223;
    color: #ffffff;
    height: 74px;
    width: 341px;
    border: none;
    right: auto;
}
.bloc2{
    background-color: #888888;
    height: 153px;
    width: 750px;
}
.gor12{
    height: 96px;
    width: 96px;
    background-color: #ffffff;
    border-radius: 100px;
    margin: 29px 45px;
}
.gor22{
    height: 17px;
    width: 199px;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 13pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-top: 73px;
    margin-left: 140px;
}
.gor32{
    height: 15px;
    width: 136px;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 13pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-top: 27px;
    margin-left: 46px;
}
.gor42{
    height: 17px;
    width: 144px;
    font-family: ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 13pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin-top: 27px;
    margin-left: 38px;
}

